.card{
    background: linear-gradient(45deg, #C0722C 30%, #F41B25 90%);
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
    margin-top: 15%; 
}

.card-title{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: black;
}