* {
    box-sizing: border-box;
  }
  
  html, body {
    font-family: Helvetica, san-serif;
  }
  
  .grid {
    box-sizing: border-box;
    padding: 0;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .grid-cell {
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  .grid-cell--food {
    background-image: url('../Resources/i.png');
    background-size: 100%;
  }
  .grid-cell--snake {
    background-image: url('../Resources/plus.png');
    background-size: 100%;
  }
  
  .snake-app {
    position: relative;
    margin: 10px auto;
  }
  .snake-app:focus {
    outline: none;
  }
  
  .snake-app__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
  }
  
  .mb-1 {
    margin-bottom: 1rem;
  }
  
  button {
    background-color: blue;
    color: white;
    border-radius: 3px;
    border: 2px solid blue;
    padding: .75rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px black;
  }
  